<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="row">
    <app-icons *ngFor="let item of iconData" [item]="item"></app-icons>
  </div>
  <!-- /.row -->
  <div class="col-lg-8">

    <app-area-chart></app-area-chart>
    <app-bar-chat></app-bar-chat>
    <!-- /.panel -->
    <app-responsive-timeline></app-responsive-timeline>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-8 -->
  <div class="row">
    <div class="col-lg-4">

      <app-notifications></app-notifications>
      <app-donut-chart></app-donut-chart>
      <app-chat></app-chat>
      <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->
